<div class="container-form">
    <div class="titulo"> <h2>Registro</h2> </div>
<form class="form">
 
  <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>

  
  <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>

  
  <input type="email" id="email" name="email" placeholder="Email" required>

  
  <input type="url" id="url" name="url" placeholder="URL">

  
  <input type="password" id="contrasena" name="contrasena" placeholder="password" required>

  
  <input type="password" id="confirmar-contrasena" name="confirmar-contrasena"  placeholder="confirmar contraseña">

  <button type="submit">Registrarse</button>
</form>
</div>